<h1>Imprint / Impressum</h1>

<h2>English</h2>

<p>
  Information as per § 5 TMG and § 55 RStV.
</p>

<p>
  This website is run and administered by:
</p>

<p>
Marvin Gülker<br/>
Vaersthausener Str. 73a<br/>
59425 Unna<br/>
Germany
</p>

<p>E-Mail: <a href="mailto:quintus@quintilianus.eu">quintus@quintilianus.eu</a></p>

<h2>Deutsch</h2>

<p>
  Informationen nach § 5 TMG und § 55 RStV.
</p>

<p>
  Diese Website wird betrieben und administriert von:
</p>

<p>
Marvin Gülker<br/>
Vaersthausener Str. 73a<br/>
59425 Unna<br/>
Germany
</p>

<p>E-Mail: <a href="mailto:quintus@quintilianus.eu">quintus@quintilianus.eu</a></p>
