<h1>Upload level</h1>

<% if @errors %>
  <div class="alert">
    <ul>
      <% @errors.each_pair do |attr, errors| %>
	<li><%= attr %>: <%= errors.join(", ") %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form accept-charset="UTF-8" action="/levels/new" method="post" enctype="multipart/form-data">
  <p>
    <label for="name">Name:</label><br/>
    <input type="text" id="name" name="name"/>
  </p>
  <p>
    <label for="version">Version:</label><br/>
    <input type="text" id="version" name="version"/>
  </p>
  <p>
    <label for="smc_version_requirement">SMC Version Requirement:</label><br/>
    <input type="text" id="smc_version_requirement" name="smc_version_requirement"/>
  </p>
  <p>
    <label for="description">Description:</label><br/>
    <textarea name="description" id="description"></textarea>
  </p>
  <p>
    <label for="levelfile">Level file:</label><br/>
    <input type="file" id="levelfile" name="levelfile"/>
  </p>
  <p>
    <input type="submit" value="Upload"/>
  </p>
</form>
